$fav-color: #f91890;

.dashboardContainer{
    position: sticky;
    top: 0;
    color: #fff;
    height: 100vh;
    overflow-y: auto;
    margin-top: -30px;
    background-color: #b1b5b9;
}

.dashboardContainer::-webkit-scrollbar{
    display: none;
}

.listGroupHeader{
    composes: pt-4 pl-2 pb-3 from global;
}

.listGroupItem{
    composes: list-group-item from global;
    color: #fff;
    background-color: #b1b5b9 !important;
    transition: background .2s ease-in;
    cursor: pointer;

    &:hover{
        background: $fav-color !important;

    }

    a{
        color: rgba(255,255,255, 1);
    }
}

.listLink{
    composes: text-light from global;
    text-shadow: 0 0 3px #ccc;
}