@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
// @import '../../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import './mixins.scss';

$base-pink: #F91890;

*{font-family: 'Josefin Sans', sans-serif;}

.row{margin-left:0;margin-right:0;}
.container-fluid,.col{padding-left:0;padding-right:0;}

input[type=text],input[type=password]{border-radius:20px;}
.card{margin-bottom: 10px;}
.bg-pink{background-color:$base-pink;}
.xs-margin{
    margin: {
        left:5px;
        right:5px;
    }
}
.fa, .fas{font-size: 14px;}
.btn-primary{
    background-color:grey;
    border-color:grey;
    transition:all .3s ease-in-out;
    &:hover{
        background-color: $base-pink;
        border-color:$base-pink;
    }
    &:not(:disabled):not(.disabled):active{
        background-color:$base-pink;
        border-color:$base-pink;
        box-shadow:0 0 0 0.2rem rgba(249, 24, 144, 0.2);
    }
    &:not(:disabled):not(.disabled):active:focus, &:focus{
        box-shadow:0 0 0 0.2rem rgba(249, 24, 144, 0.2);
    }
}

.spinner-grow{animation: unset;background-color:#fff;}
.spinner-grow.active{animation: spinner-grow .75s linear infinite;}

// .mask{
//     position:fixed;
//     width: 100%;
//     height: 100%;
//     top:0;
//     bottom: 0;
//     right:0;
//     z-index:99;
//     opacity:1;
//     transition: opacity .5s ease-out;
//     background: rgba(0, 0, 0, .3);

//     &:hover{
//         opacity:0;
//     }
// }
#navigation{
    margin-bottom:30px;background-color: $base-pink;

    .navbar{box-shadow: 5px 0 10px 3px #ccc;}
    .navbar-brand{color:#fff;}
    .navbar-brand:hover{color:rgba(243, 243, 243, 0.801);;}
    li.nav-item:hover a,
    li.nav-item a.nav-link.active{color:#fff;}
    
    li.nav-item a{color:rgba(243, 243, 243, 0.801);}
}
.form-control.search{
    z-index: 100;
    position: relative;
    transition: all .5s ease-in-out;

    &:hover,&:focus{
        box-shadow: 0 10px 28px -16px;
        border-color:$base-pink;
    }
}

.bid-title{
    span{
        margin-left:10px;
        font-size:14px;
    }
}

h1{
    span.avail-status{font-size:24px;margin-left:20px;}
    i.fas{font-size:22px;}
}

.list-group-flush:last-child .list-group-item{
    &:last-child{border-bottom:1px solid rgba(0, 0, 0, 0.125);}
}
.list-group-flush:last-child .list-group-item:last-child,
.list-group-item{
    margin-bottom: 0;
    border: {
        bottom:1px solid rgba(0, 0, 0, 0.125);
        top:none;
        left:none;
        right:none;
    }
    transition: all .5s ease-in-out;
    box-shadow:0 0 0 0;
    
    &:hover{
        border-color:$base-pink;
        box-shadow: 0 10px 20px -19px;
        z-index: 100;
        cursor:pointer;
    }
}

.avatar-img{width: 32px;height:32px;background-color:#ccc;border-radius:50%;}

.card{
    transition: all .5s ease-in-out;
    &:hover{
        border-color: $base-pink;
        box-shadow: 0 0 8px 1px #ccc;

        a.btn-primary{
            background-color:$base-pink;
            border-color:$base-pink;
        }
    }
}